*{
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}
.main-head{
    background-color: #E554731A;
    height: 850px;
    width: 100%;
    display: flex;
}
.flower-1{
    width: 635px;
    height: 800px;
    display: flex;
    margin-left: 550px;
    margin-top: 50px;
    justify-content: space-between;   
}
.button-1{
    position: absolute;
    margin-top: 690px;
    margin-left: 180px;
    border-radius: 8px;
    background: #E55473;
    padding: 20px 40px;
    font-size: 18px;
    border: none;
    color: white;
}
h2{
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    display: block;
}
.title{
    position: absolute;
    margin-top: 150px;
    margin-left: 180px;
}
.about{
    margin-left: 180px;
    margin-top: 520px;
    font-size: 22px;
    line-height: 30px;
}
h3{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 150px; 
    }
.about-1{
    margin-top: 30px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    
}
.blank-1{
    width: 464px;
    height: 538px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: #A7216226;
    
}

.blank-2{
    width: 464px;
    height: 538px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: #0597A026;
    
}

.blank-3{
    width: 464px;
    height: 538px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: #477D1126;
    
}
.flower-flex{
    display: flex;
    flex-direction: row;
    justify-content:center;
    gap: 5px;
    margin: auto;
    width: 30px;
    padding: 10px 0px;
    margin-top: 40px;
}
.flex-flower-1{
    margin-top: -11000px;
    margin-bottom: 15px;
    justify-content: center;  
    margin-left: 70px;
    
}
.fle{
    display: flex;
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    justify-content: center;
    gap: 300px;
    margin-top: -20px;
}
.sec-3{
    background-color: #E554731A;
    height: 650px;
    width: 100%;
    display: flex;
    margin-top: 120px;
    position: relative;
}
.p-title{
    position: absolute;
    margin-top: 280px;
    left: 435px;
    text-align: center;
    margin-left: 5px
    
}
.sec-3-title{
    margin-left: 423px;
    margin-top: 50px;
}
.discount{
    color: #E55473;
}
.button-2{
    position: absolute;
    margin-top: 370px;
    margin-left: 600px;
    background-color:;
    border-radius: 8px;
    background: #E55473;
    padding: 20px 40px;
    font-size: 18px;
    border: none;
    color: white;
}
.image-4{
    margin-left: 330px;
    margin-top: 100px;
}
.main-image{
    display: flex;
    margin-left: 240px;
    gap: 26px;
    margin-top: 45px;
}

.flower-squere{
    position: absolute;
    margin-top: 128px;
    margin-left: 240px;
    
}
.subscribe{
    position: absolute;
    margin-left: 1250px;
    margin-top: 395px;
    background-color: #E55473;
    border-radius: 8px;
    background: #E55473;
    padding: 19px 31px;
    border: none;
    font-size: 18px;
}

#email-input{
    padding: 15px ;
    background-color: #fff;
    border-color: white;
    border: white 1px solid ;
    border-radius: 8px;
    margin-left: 490px;
    width: 700px;
    height: 30px;
    margin-top: 395px;
    position: relative;
    font-family: Lato;
}

.blank-footer-div{
    width: 100%;
    height: 449px;
    flex-shrink: 0;
    background: #111010;
    margin-top: 560px;

}
.footer-title{
    color: #E55473;
    font-size: 48px;
    font-weight: 800;
}
.Footer-Head{
    font-size: 48px;
    font-weight: 800;
    position: absolute;
    margin-top: 150px;
    color: white;
    margin-left: 835px;

}
.footer-description{
    margin-top: 230px;
    position: absolute;
    color: white;
    text-align: center;
    margin-left: 700px;
}
  
.last-text{
    position: absolute;
    color: white;
    margin-top: 300px;
    color: rgba(255, 255, 255, 0.40);
    margin-left: 780px;
    font-size: 16px;
    font-weight: 400;
}
.uniq-1{
    width: 800px;
    height: 100px;
    background-color: lemonchiffon;
    position: absolute;
    margin-left: 500px;
    margin-top: 280px;
    padding: 20px 90px;
}

.main-id-1{
    position: absolute;
    display: flex;
    margin-left: 550px;
    gap: 30px;
    margin-top: 340px;

}
.uniq-ti{
    font-size: 28px;
}
.lebel-flower{
    font-size: 18px;
    
    margin-top: 50px;
}
.Choose{
    display: flex;
    margin-top: 10px;
}
.submit-1{
    margin-top: 332px;
    margin-left: 1250px;
    position: absolute;
    background-color: #E55473;
    padding: 15px 31px;
    border: none;
    border-radius: 8px;
}
h1{
    color:chocolate;
}
.submit-1:hover{
    cursor: pointer;
}
